html {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* Font selectors */ 
body, input, textarea, button {
    font-family: 'Raleway', sans-serif;
}
body {
    background-color: #eeeeee;
    color: #363C60;
    overflow-x: hidden;
}

/* Header */

header {
    height: 100vh;
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.1rem;
    background-image: url(/resources/images/rohit-tandon-9wg5jCEPBsw-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerOverlay {
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: rgb(51, 51, 51, 0.4);
    padding: 30px;
    border-radius: 15px;
}

h1 {
    padding-bottom: 15px;
}

h2 {
    padding: 5px;
    text-align: center;
}

.button {
    margin-top: 20px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1.05rem;
    display: flex;
    align-items: center;
}

.button:hover #scrollButtonIcon {
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
    color: #fff;
}

.button:hover {
    background-color: #20B0A7;
    border-color: #20B0A7;
    color: #fff;
    transition: 0.4s;
    font-weight: initial;
}

.button:focus {
    outline: none;
    padding: none;
}

#scrollButtonIcon {
    margin-left: 10px;
    transition: 0.4s;
}

/* Nav */ 

#navbar {
    width: 100%;
    height: 50px;
    background-color: #202342;
    color: #fff;
    border-bottom: 3px solid #20B0A7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

nav ul li {
    display: inline;
    padding: 0px 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: #20B0A7;
    transition: 0.3s;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + #about {
    padding-top: 100px;
}

@media only screen and (max-width: 505px) {
    #navbar {
        width: 100%;
        height: 50px;
        background-color: #202342;
        color: #fff;
        border-bottom: 3px solid #20B0A7;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 100;
    }
    
    nav ul li {
        padding: 0px 0px;
    }

    #nav ul {
        width: 95vw;
        display: flex;
        justify-content: space-between;
    }
}

/* About */

#about {
    padding-top: 50px;
    margin-top: -50px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

#aboutAnchor {
    position: absolute;   
    margin-top: -50px; 
}

.sectionTitle {
    margin-top: 5rem;
    font-size: 2.5rem;
    display:inline-block;
    position: relative;
}

.sectionTitle::after {
    position: absolute;
    height: 2px;
    margin: 0 auto;
    content: '';
    left: 0;
    right: 0;
    width: 70%;
    color: #000;
    background-color: #20B0A7;
    left: 0;
    bottom: -3px;
}

#profilePic {
    margin-left: -200px;
    opacity: 0;
    transition: 0.4s;
}

.imageAndDesc {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aboutDesc {
    margin-right: -400px;
    opacity: 0;
    transition: 0.6s;
}

.imageAndDesc p {
    width: 40%;
    line-height: 1.7rem;
    text-align: left;
    font-size: 1rem;
    background-color: #363C60;
    border-radius: 5px;
    padding: 40px;
    color: #eeeeee;
    margin-left: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.courseAndSkills { 
    height: 620px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #363C60;
    margin-top: 100px;
    padding: 10px 0px;
    box-shadow: inset 0px 11px 14px -5px #20243a, inset 0px -11px 14px -5px #20243a; 
}

.courseDetails {
    padding: 20px;
    text-align: left;
    width: 500px;
    border-radius: 15px;
    color: white;
    justify-self: center;
    margin-top: -50px;
    line-height: 1.3rem;
    
}

.courseDetails ul li {
    list-style-type: disc;
}

.courseDetails ul {
    padding: 15px;
    margin-left: 2px;
}

@media only screen and (max-width: 1078px) {
    .courseDetails {
        padding: 10px;
        margin-top: -30px;
    }
}

@media only screen and (max-width: 928px) {
    .imageAndDesc {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .imageAndDesc p {
        width: 90%;
        margin-left: 0;
        margin-top: 50px;
    }

    .profileImage img {
        height: 320px;
        width: 320px;
    }
    .courseAndSkills {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        background-color: #363C60;
        margin-top: 75px;
        padding: 10px 5px;
    }
    .courseDetails {
        width: 100%;
        justify-self: center;
        margin-top: 0;
        margin-bottom: 40px;
    }
    .skillsContainer {
        max-width: 100%;
        margin-bottom: 30px;
    }
}

/* Skills section */

.skillsContainer {
    width: 800px;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px 30px;
}

.skillsContainer p {
    margin-top: 35px;
    margin-bottom: 15px;
}

.skillsContainer p:nth-of-type(1) {
    margin-top: 0px;
}

.skillCell {
    width: 100%;
    background-color: #555555;
}

.skills {
    text-align: right;
    height: 2px;
    color: white;
}

/* each skill bar */
/* to update the bar %'s, go to the .js file and do it there */

#html {width: 0%; background-color: #08fdd8; transition: 1s;}
#css {width: 0%; background-color: #ff2253; transition: 1s; transition-delay: 0.2s;}
#javascript {width: 0%; background-color: #d26cd5; transition: 1s; transition-delay: 0.4s;}
#react {width: 0%; background-color: #00d8ff; transition: 1s; transition-delay: 0.6s;}
#node {width: 0%; background-color: #f0e114; transition: 1s; transition-delay: 0.8s;}
#postgresql {width: 0%; background-color: #f17b2c; transition: 1s; transition-delay: 1s;}
#git {width: 0%; background-color: #66b871; transition: 1s; transition-delay: 1.2s;}
#python {width: 0%; background-color: #f3f161; transition: 1s; transition-delay: 1.4s;}

/* Projects */

#projects {
    width: 100%;
    text-align: center;
}

#projectAnchor {
    position: absolute;   
    margin-top: -50px; 
}

#projects svg {
    margin-bottom: -6px;
}

.projectsContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: fit-content;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: stretch;
    grid-gap: 100px;
    opacity: 0;
    grid-auto-flow: row;
    transition: ease-in-out 0.7s;
    padding-bottom: 80px;
    height: 450px;
}

.project {
    height: 300px;
    width: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

@media only screen and (max-width: 943px) {
    .projectsContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: stretch;
        align-items: stretch;
        height: 700px;
    }
}

@media only screen and (max-width: 639px) {
    .projectsContainer {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        width: fit-content;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        justify-items: stretch;
        align-items: stretch;
        grid-gap: 2px;
        grid-auto-flow: row;
        height: 1000px;
    }
    
    .project {
        width: 300px;
        height: 300px;
    }
}

.projectOverlay {
    background-color: hsl(231, 28%, 29%, .85);
    height: 100%;
    width: 100%;
    transition: 0.3s;
    opacity: 0;
    overflow: hidden;
}

.projectsContainer div:nth-of-type(2) .projectOverlay {
    background-color: hsl(231, 28%, 29%, .96);
}

.projectName {
    display: block;
    color: #fff;
    padding-top: 5%;
    margin-top: 5%;
    font-size: 1.7rem;
    transition: 0.4s;
}

.techUsed {
    display: block;
    color: #20B0A7;
    font-size: 1.1rem;
    margin-top: 20%;
}

.viewSite {
    display: block;
    margin-top: 23%;
}

.viewSite a {
    text-decoration: none;
    color: #fff;
}

.viewCode {
    display: block;
    margin-top: 15%;
}

.viewCode a {
    text-decoration: none;
    color: #fff;
}

.projectButton {
    padding: 10px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 1.05rem;
}

.projectButton:hover {
    background-color: #20B0A7;
    border-color: #20B0A7;
    transition: 0.4s;
}

.button:focus {
    outline: none;
    padding: none;
}

.project:hover .projectOverlay {
    visibility: visible;
    opacity: 1;
}

.project:nth-of-type(1) {
    background-image: url(/resources/images/background_photo_desktop.webp);
}
.project:nth-of-type(2) {
    background-image: url(/resources/images/reddit-logo-image.png);
    opacity: .95;
}
.project:nth-of-type(3) {
    background-image: url(/resources/images/e-commerce-main.png);
    border: 1px solid #919191;
}
.project:nth-of-type(4) {
    background-image: url(/resources/images/wallpaperflare.com_wallpaper.jpg);
}
.project:nth-of-type(5) {
    background-image: url(/resources/images/crystal-skies-4k-j6-3840x2160.jpg);
}
.project:nth-of-type(6) {
    background-image: url(/resources/images/191548.jpg);
}

/* Contact */

#contact {
    text-align: center;
    background-color: #363C60;
    color: #eeeeee;
}

#contact h2 {
    margin-top: 40px;
}

#contactAnchor {
    position: absolute;   
    margin-top: -50px; 
}

#Capa_1 {
    fill: white;
    width: 50px;
    height: auto;
}

#githubIcon {
    fill: white;
    width: 50px;
    height: auto;
}

#linkedinIcon {
    fill: white;
    width: 50px;
    height: auto;
}

.linkBox a {
    text-decoration: none;
    color: #eeeeee;
}

.linksContainer {
    margin-top: 160px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 220px;
}

.linkBox {
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-between;
    align-items: center;
}

.icon:hover path {
    fill: #20B0A7;
    transition: 0.3s;
}

.icon:hover + p {
    color: #20B0A7;
    transition: 0.3s;
}

.linkBox a:hover + a {
    color: #20B0A7;
    transition: 0.3s;
}

@media only screen and (max-width: 887px) {
    .linksContainer {
        margin-top: 90px;
        flex-direction: column;
        padding-bottom: 120px;
        align-items: center;
    }
    .linkBox {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        height: 120px;
        margin-bottom: 30px;
    }
}

/* Footer */ 

#footer {
    background-color: #202342;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footerNav ul {
    height: 120px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20%;
    width: max-content;
}


#footer nav ul li {
    display: block;
    padding: 0px 30px;
}

#footer nav ul li a {
    text-decoration: none;
    color: #fff;
}

#footer nav ul li a:hover {
    color: #20B0A7;
}

#footer div {
    margin-right: 20px;
    align-self: flex-end;
    margin-bottom: 50px;
}

@media only screen and (max-width: 887px) {
    #footer {
        flex-wrap: wrap;
        min-height: 150px;
    }
    #footer div {
        margin-right: 0px;
        margin-left: 5px;
        margin-bottom: 2px;
        font-size: 0.7rem;
    }
}

/* Modals */

#modal-background1 {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

#modal-background2 {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

#modal-background3 {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

#modal {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    padding: 0px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    font-size: 1.5rem;
    animation-name: animatemodal;
    animation-duration: 0.4s;
}

.modal1, .modal2, .modal3 {
    background-color: #20B0A7;
    color: #fff;
    width: auto;
    margin-left: 0px;
    margin-right: 25px;
    justify-self: flex-start;
    text-decoration: none;
}

.modalLink, modalLink:hover, modalLink:active, modalLink:visited, modalLink:focus {
    text-decoration: none;
    cursor: pointer;
}
  
#close-btn1:hover, #close-btn2:hover, #close-btn3:hover {
    cursor: pointer;
    color: #20B0A7;
}

.buttons {
    width: 100%;
    display: flex;
    align-items: center;
}

#close-btn1, #close-btn2, #close-btn3 {
    font-size: 50px;
    position: absolute;
    right: 25px;
    bottom: 10px;
}

@keyframes animatemodal {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 50%;
      opacity: 1;
    }
}

.modalImageContainer {
    height: 270px;
    width: 600px;
    border-bottom: 5px solid #20B0A7;
}

#modalImage1 {
    background-image: url(./images/jammmin-project.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#modalImage2 {
    background-image: url(./images/reddit-minimal-project.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#modalImage3 {
    background-image: url(./images/e-commerce-image.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.modalDesc {
    height: 270px;
}

.modalTitle {
    padding: 20px 0px 10px 0px;
}

.modalTechs {
    color: #20B0A7;
    padding-bottom: 23px;
    font-size: 1.3rem;
}

.modalPara {
    font-size: 0.96rem;
    text-align: left;
}

@media only screen and (max-width: 617px) {
    #modal {
        width: 90vw;
        height: 80vh;
        padding: 0px 20px;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .modal1, .modal2, .modal3 {
        margin-left: 0px;
        margin-right: 25px;
        justify-self: flex-start;
    }
    .buttons {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 14px;
    }
    .modalImageContainer {
        height: 170px;
        width: 90vw;
        border-bottom: 5px solid #20B0A7;
    }
    
    #modalImage1 {
        background-image: url(./images/jammmin-project.PNG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .modalDesc {
        height: 270px;
    }
    
    .modalTitle {
        padding: 0px 0px 10px 0px;
        margin-top: -20px;
    }
    
    .modalTechs {
        color: #20B0A7;
        padding-bottom: 23px;
        font-size: 1.3rem;
    }
    
    .modalPara {
        font-size: 0.96rem;
        text-align: left;
    }
}

@media only screen and (max-width: 395px) {
    #modal {
        width: 90vw;
        height: 80vh;
        padding: 0px 20px;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .modal1, .modal2, .modal3 {
        margin-left: 0px;
        margin-right: 10px;
        justify-self: flex-start;
        font-size: 0.9rem;
    }
    .buttons {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 14px;
    }
    .modalImageContainer {
        height: 70px;
        width: 90vw;
        border-bottom: 5px solid #20B0A7;
    }
    
    #modalImage1 {
        background-image: url(./images/jammmin-project.PNG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .modalDesc {
        height: 270px;
    }
    
    .modalTitle {
        padding: 0px 0px 10px 0px;
        margin-top: -60px;
    }
    
    .modalTechs {
        color: #20B0A7;
        padding-bottom: 23px;
        font-size: 1.3rem;
    }
    
    .modalPara {
        font-size: 0.96rem;
        text-align: left;
    }
}

@media only screen and (max-width: 320px) {
    #modal {
        width: 90vw;
        height: 80vh;
        padding: 0px 20px;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .modal1, .modal2, .modal3 {
        margin-left: 0px;
        margin-right: 10px;
        justify-self: flex-start;
        font-size: 0.9rem;
    }
    .buttons {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 14px;
    }
    .modalImageContainer {
        display: none;
        height: 70px;
        width: 90vw;
        border-bottom: 5px solid #20B0A7;
    }
    
    #modalImage1 {
        background-image: url(./images/jammmin-project.PNG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .modalDesc {
        height: 270px;
    }
    
    .modalTitle {
        padding: 0px 0px 10px 0px;
        margin-top: 10px;
    }
    
    .modalTechs {
        color: #20B0A7;
        padding-bottom: 23px;
        font-size: 1.3rem;
    }
    
    .modalPara {
        font-size: 0.96rem;
        text-align: left;
    }
}

@media only screen and (max-width: 290px) {
    #modal {
        width: 98vw;
        height: 80vh;
        padding: 0px 20px;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .modal1, .modal2, .modal3 {
        margin-left: 0px;
        margin-right: 5px;
        justify-self: flex-start;
        font-size: 0.8rem;
    }
    .buttons {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 14px;
    }
    .modalImageContainer {
        display: none;
        height: 70px;
        width: 90vw;
        border-bottom: 5px solid #20B0A7;
    }
    
    #modalImage1 {
        background-image: url(./images/jammmin-project.PNG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .modalDesc {
        height: 270px;
    }
    
    .modalTitle {
        padding: 0px 0px 10px 0px;
        margin-top: 10px;
    }
    
    .modalTechs {
        color: #20B0A7;
        padding-bottom: 23px;
        font-size: 1.3rem;
    }
    
    .modalPara {
        font-size: 0.96rem;
        text-align: left;
    }
}