html {
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Font selectors */ 
body, input, textarea, button {
    font-family: 'Raleway', sans-serif;
}
body {
    background-color: #eeeeee;
    color: #363C60;
    overflow-x: hidden;
}

/* Header */

header {
    height: 100vh;
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.1rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M185 345L184 88' stroke-width='6' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M398 296L397 666' stroke-width='6' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M246 560L245 167' stroke-width='10' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1362 483L1361 188' stroke-width='8' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M859 80L858 338' stroke-width='8' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1211 554L1210 729' stroke-width='6' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1208 115L1207 -292' stroke-width='10' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M386 128L385 -201' stroke-width='10' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1241 498L1240 78' stroke-width='6' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1184 145L1183 400' stroke-width='8' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M355 536L354 931' stroke-width='6' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M870 22L869 184' stroke-width='10' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1236 85L1235 265' stroke-width='6' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1002 484L1001 674' stroke-width='8' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M961 554L960 191' stroke-width='6' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1390 212L1389 595' stroke-width='10' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M549 221L548 -64' stroke-width='10' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M438 81L437 -176' stroke-width='8' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1163 245L1162 -100' stroke-width='6' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1251 77L1250 -315' stroke-width='8' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M804 560L803 420' stroke-width='8' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M255 452L254 850' stroke-width='10' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M160 366L159 770' stroke-width='8' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M371 86L370 -286' stroke-width='8' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M740 365L739 220' stroke-width='6' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M371 283L370 492' stroke-width='8' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M1329 29L1328 -176' stroke-width='10' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1307 136L1306 -140' stroke-width='8' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1033 356L1032 60' stroke-width='6' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M427 127L426 -107' stroke-width='6' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1188 286L1187 -40' stroke-width='6' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3cpath d='M425 170L424 -138' stroke-width='8' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M277 452L276 621' stroke-width='10' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M305 472L304 742' stroke-width='6' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M69 66L68 282' stroke-width='10' stroke='url(%23SvgjsLinearGradient1002)' stroke-linecap='round' class='Down'%3e%3c/path%3e%3cpath d='M1110 311L1109 487' stroke-width='10' stroke='url(%23SvgjsLinearGradient1001)' stroke-linecap='round' class='Up'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1001'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='0%25' x2='0%25' y2='100%25' id='SvgjsLinearGradient1002'%3e%3cstop stop-color='rgba(28%2c 83%2c 142%2c 0)' offset='0'%3e%3c/stop%3e%3cstop stop-color='%231c538e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    padding-bottom: 15px;
}

h2 {
    padding: 5px;
    text-align: center;
}

.button {
    margin-top: 20px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 1.05rem;
    display: flex;
    align-items: center;
}

.button:hover #scrollButtonIcon {
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

.button:hover {
    background-color: #20B0A7;
    border-color: #20B0A7;
    transition: 0.4s;
}

.button:focus {
    outline: none;
    padding: none;
}

#scrollButtonIcon {
    margin-left: 10px;
    transition: 0.4s;
}

/* Nav */ 

#navbar {
    width: 100%;
    height: 50px;
    background-color: #202342;
    color: #fff;
    border-bottom: 3px solid #20B0A7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

nav ul li {
    display: inline;
    padding: 0px 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + #about {
    padding-top: 100px;
}

/* About */

#about {
    padding-top: 50px;
    margin-top: -50px;
    width: 100%;
    text-align: center;
}

#aboutAnchor {
    position: absolute;   
    margin-top: -50px; 
}

.sectionTitle {
    margin-top: 5rem;
    font-size: 2.5rem;
    display:inline-block;
    position: relative;
}

.sectionTitle::after {
    position: absolute;
    height: 2px;
    margin: 0 auto;
    content: '';
    left: 0;
    right: 0;
    width: 70%;
    color: #000;
    background-color: #20B0A7;
    left: 0;
    bottom: -3px;
}

.imageAndDesc {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageAndDesc p {
    width: 40%;
    line-height: 1.7rem;
    text-align: left;
    font-size: 1rem;
    background-color: #363C60;
    border-radius: 5px;
    padding: 40px;
    color: #eeeeee;
    margin-left: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.courseAndSkills { 
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #363C60;
    margin-top: 100px;
    padding: 10px 0px;
    box-shadow: inset 0px 11px 14px -5px #20243a, inset 0px -11px 14px -5px #20243a; 
}

.courseDetails {
    padding: 20px;
    text-align: left;
    width: 500px;
    border-radius: 15px;
    color: white;
    justify-self: center;
    margin-top: -50px;
    line-height: 1.3rem;
    
}

.courseDetails ul li {
    list-style-type: disc;
}

.courseDetails ul {
    padding: 15px;
    margin-left: 2px;
}

@media only screen and (max-width: 1078px) {
    .courseDetails {
        padding: 10px;
        margin-top: -30px;
    }
}

@media only screen and (max-width: 928px) {
    .imageAndDesc {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .imageAndDesc p {
        width: 90%;
        margin-left: 0;
        margin-top: 50px;
    }

    .profileImage img {
        height: 320px;
        width: 320px;
    }
    .courseAndSkills {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        background-color: #363C60;
        margin-top: 75px;
        padding: 10px 5px;
    }
    .courseDetails {
        width: 100%;
        justify-self: center;
        margin-top: 0;
        margin-bottom: 40px;
    }
    .skillsContainer {
        max-width: 100%;
    }
}

/* Skills section */

.skillsContainer {
    width: 800px;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px 30px;
}

.skillsContainer p {
    margin-top: 35px;
    margin-bottom: 15px;
}

.skillsContainer p:nth-of-type(1) {
    margin-top: 0px;
}

.skillCell {
    width: 100%;
    background-color: #555555;
}

.skills {
    text-align: right;
    height: 2px;
    color: white;
}

/* each skill bar */

.html {width: 80%; background-color: #08fdd8;}
.css {width: 70%; background-color: #ff2253;}
.javascript {width: 45%; background-color: #d26cd5;}
.git {width: 25%; background-color: #66b871;}
.python {width: 10%; background-color: #f3f161;}

/* Projects */

#projects {
    width: 100%;
    text-align: center;
    height: 700px;
}

.projectsContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: fit-content;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: stretch;
    grid-gap: 2px;
    grid-auto-flow: row;
}

.project {
    background-color: #999999;
    height: 200px;
    width: 200px;
}

@media only screen and (max-width: 654px) {
    .projectsContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: stretch;
        align-items: stretch;
    }
}

@media only screen and (max-width: 414px) {
    .projectsContainer {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        width: fit-content;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        justify-items: stretch;
        align-items: stretch;
        grid-gap: 2px;
        grid-auto-flow: row;
    }
    
    .project {
        background-color: #999999;
        width: 90vw;
        height: 90vw;
    }
}
